<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>침입 탐지 관리자 페이지</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .page-title {
            text-align: center;
            font-size: 40px;
            font-weight: bold; /* 굵게 설정 */
        }
        tbody tr {
            height: 100px;
        }

        tbody tr {
            height: 90px;
        }
    </style>
</head>

<body>
    <div class="wrapper">
    <div class="container">
        <div class="page-title">침입 탐지 관리자 페이지</div>
        <table>
        <thead>
            <tr>
            <th style="padding: 0 175px;">#</th>
            <th style="padding: 0 175px;">IP 주소</th>
            <th style="padding: 0 175px;">위험 유형</th>
            <th style="padding: 0 175px;">탐지 횟수</th>
            <th style="padding: 0 175px;">탐지 시간</th>
            </tr>
        </thead>
        <tbody>
            <tr> 
            <th style="padding: 0 10px;"><td>1</td><td></td><td></td><td></td><td></td></tr>
            <tr><td>2</td><td></td><td></td><td></td><td></td></tr>
            <tr><td>3</td><td></td><td></td><td></td><td></td></tr>
            <tr><td>4</td><td></td><td></td><td></td><td></td></tr>
            <tr><td>5</td><td></td><td></td><td></td><td></td></tr>
            <tr><td>6</td><td></td><td></td><td></td><td></td></tr>
            <tr><td>7</td><td></td><td></td><td></td><td></td></tr>
            <tr><td>8</td><td></td><td></td><td></td><td></td></tr>
            <tr><td>9</td><td></td><td></td><td></td><td></td></tr>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
</body>
</html>
